.DS_Store
.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
*.pem
dist/

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# turbo
.turbo

# client
.vite-cache
# .env
# .env.development
# .env.local
# .env.production

# server
vender/
log/
tmp
bin/
cbuild
main

# private
server/config.yaml

# ent gen code
**/ent/*
!**/ent/schema
!**/ent/entc.go
!**/ent/generate.go
